.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

form label{
  font-size: 17px;
}
.pageContain {
  background-color: white;
  height: 100%;
  margin: 3px;
  padding: 1% 0%;
}
  .pageContain h1, .pageContain h3, .pageContain h4{
    font-weight: 700;
  }
  .pageContain h1{
    color:rgba(127, 125, 247, 0.884);
    text-decoration: underline;
    margin-bottom: 1%;
  }
  .pageContain li, .budgetList{
    font-size: 17px;
  }

.individGraph {
  display: inline-block;
  background-color: rgba(196, 187, 247, 0.363);
  border-radius: 35px;
  padding: 2%;
}
  #firstGraph{
    margin: 2% 2% 0% 0%;
  }

  #firstGraph, #secondGraph{
    width: 44%;
  }

  #radar, #totalBar {
    width: 100%;
  }


#containGraph {
  display: inline-block;
  width: 50%;
}

.infoBox {
  display: inline-block;
  vertical-align: top;
  color: black;
  height: 20%;
  background-color:  rgba(196, 187, 247, 0.363);
  border-radius: 35px;
  margin-top: 1%;
  padding: 10px;
}
  #monthtotal{
    width: 22%;
    margin-right: 2%;
    margin-left: 4%;
  }
    #monthtotal p{
      font-size: 22px;
      margin: 20px 10px;
    }
  #didYouKnow{
    margin-right: 4%;
    width: 66%;    
  }
.infoGraphics {
  display: inline-block;
}

.infoPara, .infoImg {
  display: inline-block;
  margin: 0px 5px;
}

.infoPara {
  font-size: 18px;
}
.infoImg{
  border-radius: 20px;
  margin: 8px 5px 8px 10px;
}
#monthBudgets{
  margin: 0% 1%;
  display: inline-block;
  border-radius: 35px;
  background-color: white;
  padding: 0% 2% 2%;
  vertical-align: top;
}

#radar{
  margin-bottom: 2%;
}

#allBudgets, #budgetItemList{
  overflow: scroll;
  overflow-x: hidden;
  height: 300px;
}
  #allBudgets li{
    font-size: 21px;
    list-style: none;
  }


